[submodule "disasm/pokefirered"]
	path = disasm/pokefirered
	url = https://github.com/pret/pokefirered.git
[submodule "disasm/pokeheartgold"]
	path = disasm/pokeheartgold
	url = https://github.com/pret/pokeheartgold.git
[submodule "disasm/pokeemerald"]
	path = disasm/pokeemerald
	url = https://github.com/pret/pokeemerald.git
[submodule "disasm/pokeplatinum"]
	path = disasm/pokeplatinum
	url = https://github.com/pret/pokeplatinum.git
